<!DOCTYPE html>
<!--
This is an example template
to show you how you can create your
own templates
-->
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <!--
  place the elements here
  -->
  <h1>Fake Login Page Example</h1>
  <!--
  when an element with the ID "submit"
  gets clicked, "user" and "pass" gets sent to 
  the server (see static/script.js)
  -->
  <input type="text" placeholder="Username" id="user">
  <input type="password" placeholder="Password" id="pass">
  <button id="submit">Login</button>
  <!--
  these are the scripts that are used to 
  communicate with the server, if you are 
  not sure what you are doing, just leave
  them here
  -->
  <script type="module" src="/static/script.js">
  <script>
    // place your js code here (or link it)
    const submit = document.getElementById("submit")
    submit.addEventListener("click", ()=>{
      alert("You just got phished!")
    })
  </script>
  </body>
  <style>
    /* styling */ 
    h1{
      color: red;
    }
  </style>
</html>
